<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button routerLink="/" class="btn btn-link">Back to Home</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>23.09.2021</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adip</p>
  </div>
</div>
