<div class="card">
  <div class="card-header">
    <h2>PostTitle</h2>
    <small>12.09.2021</small>
  </div>
  <div class="card-body">
    <small>Vladimir</small>
  </div>
  <button class="btn btn-dark"
          [routerLink]="['/post',1231]"
          >Open
        </button>
</div>
