<form [formGroup]="form" (ngSubmit)="submit" method="post"  class="form-horizontal card">
<h2 class="card-title text-center">
  {{'login'| uppercase}}
</h2>
<div class="form-group"
      [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}">
  <label>Email</label>
  <input id="email"
          formControlName="email"
         type="email"
         class="form-control"/>
  <div  *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
        class="validation">
    <small *ngIf="form.get('email')?.errors?.required">This field is required!</small>
    <small *ngIf="form.get('email')?.errors?.email">This field is must be valid email!</small>
  </div>
</div>
<div class="form-group"
    [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}">
  <label>Password</label>
  <input  id="password"
          type="password"
          formControlName="password"
          class="form-control"/>
  <div class="validation"
      *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
      <small *ngIf="form.get('password')?.errors?.required">This field is required!</small>
      <small *ngIf="form.get('password')?.errors?.minlength">Password must be with minimum 12 characters!</small>
  </div>
</div>
<button type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid"
 >LOGIN</button>
</form>
