<nav class="navbar bg-primary">
  <h1>
    <a routerLink="/">Admin</a>
  </h1>
  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin','dashboard']">Dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin','create']">Create</a>
    </li>
    <li routerLinkActive="active">
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
